.env.*
/uploads
dist
dist-ssr
*.local

/k8s/jwt-secret.yaml
/k8s/postgres-secret.yaml
/k8s/cookie-secret.yaml
/k8s/port-secret.yaml

helm_chart/templates/secrets/*

# Editor directories and files
.vscode/*
